.App,.mainpage,.body
{
  background: linear-gradient(to top, #b6e7ff, #06aaff);
  height: 100%; 
  width: 100%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 1020px;
  position: relative;
  top: 50%;
  left: 0;
  max-width: 100%;

}
.logo
{
height: 20%;
width: 20%;
}
@media only screen and (max-width: 768px) {
  .App .logo {
    height: 50%;
    width: 60%;
  }
}

@media only screen and (max-width: 576px) {
  .App .logo {
    height: 40%;
    width: 70%;
  }
}

@media only screen and (max-width: 480px) {
  .App .logo {
    height: 30%;
    width: 80%;
  }
}


.login-form, .register-form , .guest-form
{
  width: 45%;
  height: calc(100vh - 10px);
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 100px 20px rgba(0,0,0,0.3);
}
@media screen and (max-width: 1200px) 
{ .App {
    height: 100%;
    width: 100%;
  }
  .login-form, .register-form, .guest-form {
    width: 90%;
  }
}


.no-account, .account, .guest
{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0;
  background: none;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  border-radius: 5px; 
  
}
.login-form label, .register-form label, .guest-form label
{
  font-size: 200%;
}

.login-form input, .register-form input, .login-form button, .register-form button, .guest-form input, .guest-form button
{
  height: 38px;
  width: 70%;
  font-size: 16px;
  margin-bottom: 10px;
  border-radius: 5px; 
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
  
}
.loginbutton, .continuebutton, .signinbutton
{
    color: white; 
    background-color: #06aaff; 
    font-family: Arial, sans-serif; 
    font-size: 16px; 
    font-weight: bold; 
    border: none; 
    border-radius: 5px; 
    padding: 10px 20px; 
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.3);
}
  

.login-form .account-logo,
.register-form .account-logo,
.guest-form .account-logo
{
  height: 270px;
  width: 270px;
  -shadow: 0px 0px 30px 0px rgba(0,0,0,0.3);
}

.App nav {
  display: flex;
  width: 97%;
  justify-content: center;
  background-color: #edf9ff;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.App nav button {
  margin: 0 50px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
  background: none;
  border: none;
  cursor: pointer;
}

.App nav button:hover {
  color: #0077cc;
}


.container {
  height: calc(100vh - 70%);
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
}

.description {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  background-color: #edf9ff;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  margin: 10px;
}

.slider {
  width: 45%;
  height: 100%;
  display: flex;
  background-color: #edf9ff;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  margin: 10px;
  position: relative;
}

.sliderimg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.description h1 {
  font-size: 350%;
  margin-bottom: 10px;
}

.description p {
  font-size: 200%;
  text-align: center;
  line-height: 1.5;
}

.alice-carousel__dots {
  margin: 0 !important;
}

.alice-carousel__prev-btn, .alice-carousel__next-btn {
  top: 50%;
  transform: translateY(-50%);
}

.alice-carousel__prev-btn {
  left: 10px;
}

.alice-carousel__next-btn {
  right: 10px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    height: auto;
  }
  .description, .slider {
    width: 98%;
    margin: 10px 0;
    object-fit: contain;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    flex-direction: column;
    height: auto;
    margin-bottom: 0;
  }
  .description {
    width: 70%;
  }
  .slider {
    width: 70%;
  }
}

@media screen and (max-width: 576px) {
  .container {
    flex-direction: column;
    height: auto;
    margin-bottom: 0;
  }
  .description {
    width: 100%;
    margin-bottom: 20px;
  }
  .slider {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .description h1 {
    font-size: 300%;
  }
  .description p {
    font-size: 150%;
  }
}
.logomain
{
width: 25%;
height: 25%;
}
.button-container {
  display: flex;
  justify-content: center;
}

.buttonhome {
  border: none;
  padding: 58%;
  font-size: 200%; 
  font-weight: bold;
  text-decoration: none;
  color: #edf9ff;
  background-image: url('img6.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.buttontakeaway {
  border: none;
  padding: 58%;
  font-size: 200%; 
  font-weight: bold;
  text-decoration: none;
  background-image: url('img7.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #edf9ff;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}


.buttonhome:hover, .buttontakeaway:hover {
  filter: brightness(80%) contrast(150%) saturate(150%) hue-rotate(180deg);
}

.containermain {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1024px) {
  .buttonhome, .buttontakeaway {
    padding: 10%;
  }
}

@media (max-width: 768px) {
  .buttonhome, .buttontakeaway {
    padding: 10%;
  }
  
}

@media (max-width: 576px) {
  .buttonhome, .buttontakeaway {
    padding: 20%;
    font-size: 100%; 
  }
}

@media (max-width: 480px) {
  .buttonhome, .buttontakeaway {
    padding: 10%;
  }
} 








