.App 
{
  max-width: 100%;
  background: linear-gradient(to top, #b6e7ff, #06aaff);
  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 1020px;
}


.App /*.logo*/
{
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  position: relative;
  top: 50%;
  left: 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  
  
}
@media only screen and (max-width: 768px) {
  .App .logo {
    height: 50%;
    width: 70%;
  }
}

@media only screen and (max-width: 576px) {
  .App .logo {
    height: 40%;
    width: 80%;
  }
}

@media only screen and (max-width: 480px) {
  .App .logo {
    height: 30%;
    width: 90%;
  }
}


.login-form, .register-form , .guest-form
{
  width: 45%;
  height: calc(100vh - 60px);
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 100px 20px rgba(0,0,0,0.3);
}
@media screen and (max-width: 1200px) 
{
  .login-form, .register-form, .guest-form {
    width: 90%;
  }
}


.no-account, .account, .guest
{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0;
  background: none;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
.login-form label, .register-form label, .guest-form label
{
  font-size: 200%;
}

.login-form input, .register-form input, .login-form button, .register-form button, .guest-form input, .guest-form button
{
  height: 38px;
  width: 70%;
  font-size: 16px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
  
}
.loginbutton, .continuebutton, .signinbutton
{
    color: white; 
    background-color: #06aaff; 
    font-family: Arial, sans-serif; 
    font-size: 16px; 
    font-weight: bold; 
    border: none; 
    border-radius: 5px; 
    padding: 10px 20px; 
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.3);
}
  

.login-form .account-logo,
.register-form .account-logo,
.guest-form .account-logo
{
  height: 270px;
  width: 270px;
  -shadow: 0px 0px 30px 0px rgba(0,0,0,0.3);
}



